h1, h2,  h4 {
    text-align: center;
}
.navbar {
    text-align: center;
}
.images {
    display: block;
  margin-left: auto;
  margin-right: auto;
}
footer {
    text-align: center;
}
.homebutton {
    display: block;
  margin-left: auto;
  margin-right: auto;
}